<span criterion-id="<%= id %>" class="filter-pane-criterion label label-default"><%= name %>:
    <% if(type === 'category'){ %>
        <%= values.join(', ') %>
    <% } else { %>
        <%= values.join(' - ') %>
    <% } %> <a href="#"><span class="glyphicon glyphicon-remove-sign"></span></a>
</span>