<span criterion-id="<%= id %>" criterion-operation="<%= operationId %>" criterion-value="<%= value %>" class="filter-pane-criterion label label-default">
    <% if(operation == 'span' || operation == 'ids' || operation == 'null'
    || operation == 'not_null' || operation == 'quantile' ){ %>
        <%= operation %>
    <% } else { %>
        <%= name %> <%= operation %> <%= value %>
    <% } %>
    <a href="#"><span class="glyphicon glyphicon-remove-sign"></span></a>
</span>