<select class="form-control criterion-operation" data-region="criterion-operation">
    <option value="eql">=</option>
    <option value="ne">!=</option>
    <option value="contains">contains</option>
    <option value="not_contains">not contains</option>
    <option value="null">empty</option>
    <option value="not_null">not empty</option>
</select>
<input data-region="criterion-value" class="form-control hidden"/>
<select class="multi-select" data-region="criterion-multi" MULTIPLE/>