<div class="filter">
    <div class="filter-selector">
        <select class="form-control"/>
    </div>
    <div class="filter-conditions" data-region="criterion-conditions"></div>
    <div class="filter-controls hidden"><input type="button" class="btn btn-default" value="Add"/></div>
</div>