<div class="filter" xmlns="http://www.w3.org/1999/html">
    <div class="filter-selector">
        <select class="form-control">
            <option value="" disabled selected>Select search criterion...</option>
        </select>
    </div>
    <div class="filter-conditions" data-region="criterion-conditions"></div>
    <div class="filter-controls hidden"><input data-dismiss="modal" type="button" class="btn btn-default" value="Add"/></div>
</div>