<form role="form" class="add-row-dialog">
    <div class="form-group">
        <label for="row-height">Row Height</label>
        <input class="form-control" id="row-height" type="number" min="100" max="2000" step="50" required="true" pattern="\d+" title="Enter row height in px" value="<%= height %>"/>
    </div>
    <input type="button" data-dismiss="modal" class="btn btn-default" value="<%= type %>"/>
</form>