<form role="form" class="add-row-dialog">
    <div class="form-group">
        <label for="segment-name">Segment Name</label>
        <input class="form-control" id="segment-name" placeholder="Insert segment name"/>
    </div>
    <input type="button" data-dismiss="modal" class="btn btn-default" value="Create"/>
</form>