<form role="form" class="add-row-dialog">
    <div class="form-group">
        <label for="event">Event</label>
        <select class="form-control" id="event" placeholder="Event name"/>
    </div>
    <input type="button" data-dismiss="modal" class="btn btn-default" value="Add"/>
</form>