<a href="#">
    <div class="event-name"><%= name %></div>
    <div class="event-param">
        <% if(typeof item_name !== "undefined") {  %>
        <%= item_name %>
        <% } else { %>
        Any Application
        <% } %>
    </div>
    <div class="event-item">&nbsp;</div>
</a>