<ul class="singleevent"></ul>
<input type="hidden" id="promotions_<%= id %>_eventId" name="promotions[<%= id %>].eventId"/>
<input type="hidden" id="promotions_<%= id %>_settingId" name="promotions[<%= id %>].settingId"/>
<input type="hidden" id="promotions_<%= id %>_paramLow" name="promotions[<%= id %>].paramLow"/>
<input type="hidden" id="promotions_<%= id %>_paramHigh" name="promotions[<%= id %>].paramHigh"/>
